/* #region Variables */

:root {
    --primary-color: #0FB9B1;
    --secondary-color: #2C4755;
    --neutral-color: #DDD;

    --section-padding: 40px;
    --section-background: #F6F6F6;

    --content-margin-top: 90px;

    --main-duration: 0.5s;
}

/* #endregion */

/* #region Global Rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.section {
    padding: var(--section-padding) 0;
}

/* #endregion */

/* #region Components */

.special-heading {
    color: var(--neutral-color);
    font-size: 100px;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
    font-weight: 800;
}

.special-heading+p {
    color: #797979;
    text-align: center;
    font-size: 20px;
    margin: -30px 0 0;

}

@media (max-width: 768px) {
    .special-heading {
        font-size: 70px;
    }

    .special-heading+p {
        margin-top: -25px;
    }
}

/* #endregion */

/* #region Header */
.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;

}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links:hover ul {
    display: initial;
}

.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
    row-gap: 5px;
}

.header .links .icon span {
    height: 2px;
    width: 100%;
    background-color: #333;

}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}

.header .links .icon span:last-child {
    height: 3px;
}

.header .links ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 200px;
    background: #F6F6F6;
    top: calc(100% + 15px);
    right: 0;
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #F6F6F6 transparent;
    right: 5px;
    transform: translateY(-100%);

}

.header .links ul a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: var(--main-duration);
}

.header .links ul a:hover {
    padding-left: 20px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* #endregion */

/* #region Landing Section */

.landing {
    background-image: url(../images/landing.jpg);
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
    text-align: center;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--primary-color)
}

.landing .intro-text p {
    line-height: 1.8em;
    font-size: 19px;
}

/* #endregion */

/* #region Features */

.features {
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

}


.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--primary-color);
    font-size: 46px;
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8em;
    font-size: 17px;
    color: #777;
}

/* #endregion */

/* #region Services */

.services .services-content {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-gap: 30px;
    margin-top: var(--content-margin-top);
}

.services .services-content .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px
}

.services .services-content .services-grid .srv {
    display: flex;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .services .services-grid .srv {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.services .srv i {
    color: var(--primary-color);
    text-align: left;
    flex-basis: 60px;
}

.services .srv .text {
    flex: 1;
}

.services .srv .text h3 {
    margin: 0;
}

.services .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    max-width: 450px;
}

.services .image-column {
    text-align: center;
    position: relative;

}

@media (max-width: 1200px) {
    .services .image-column {
        display: none;
    }

    .services .services-content {
        grid-template-columns: 1fr;
    }

}

.services .image-column img {
    width: 270px;
}

.services .image-column::after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 50px);
    top: 0;
    right: 0;
    transform: translate(0, -46px);
    z-index: -1;
}

/* #endregion */

/* #region Portfolio */

.portfolio {
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: var(--content-margin-top)
}

.portfolio .portfolio-content .card {
    background-color: #FFF;
}

.portfolio .portfolio-content .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform var(--main-duration), box-shadow var(--main-duration);
}


.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
}

/* #endregion */

/* #region About */

.about {
    padding-bottom: calc(var(--section-padding) + 40px);
}

.about .about-content {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: var(--content-margin-top);
    gap: 60px clamp(40px, 10vw, 200px);
    align-items: center;
    justify-items: center;
}

@media (max-width: 992px) {
    .about .about-content {
        grid-template-columns: 1fr;
        justify-items: center;

    }

    .about .about-content .image-column::before,
    .about .about-content .image-column::after {
        display: none;
    }

    .about .about-content .info {
        text-align: center;
    }


}

.about .about-content .image-column {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .about-content .image-column::before {
    content: "";
    background-color: var(--neutral-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image-column::after {
    content: "";
    position: absolute;
    width: 110px;
    height: calc(100% - 80px);
    right: -140px;
    top: -40px;
    z-index: -1;
    border-left: 80px solid var(--primary-color);
    border-bottom: 80px solid var(--primary-color);
}

.about .about-content .image-column img {
    max-width: 100%;
}

.about .about-content .info {
    max-width: 450px;
    line-height: 2;
}

.about .about-content .info p:first-of-type {
    font-weight: bold;
    margin-bottom: 50px;
}

.about .about-content .info p:last-of-type {
    color: #777;
}

.about .about-content .info hr {
    width: 50%;
    border-color: var(--primary-color);
    display: inline-block;
}

/* #endregion */

/* #region Contact */

.contact {
    background-color: var(--section-background);
}

.contact .contact-content {

    display: grid;
    margin-top: var(--content-margin-top);
    margin-bottom: var(--section-padding);
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.contact .contact-content .label {
    font-size: 35px;
    color: var(--secondary-color);
    font-weight: 800;
    letter-spacing: -2px;
    margin: 0;
}

.contact .contact-content .link {
    text-decoration: none;
    display: block;
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 800;
}

a:focus-visible {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

@media (max-width: 768px) {

    .contact .contact-content .label,
    .contact .contact-content .link {
        font-size: 25px;
    }
}

.contact .contact-content .social {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

}

.contact .contact-content .social i {
    color: var(--secondary-color);
}

/* #endregion */

/* #region Footer */

.footer {
    color: #FFF;
    padding: 30px 10px;
    text-align: center;
    background-color: var(--secondary-color);
    font-size: 18px;
}

.footer span {
    color: var(--primary-color);
    font-weight: bold;
}

/* #endregion */

